.list-group-item{
    padding: 10px;
}
.list-group-item:hover{
    background-color: #2B2A28;
    border-color: #2B2A28;
    transition: .2s;
}
.list-group-item:hover .popular-body{
    color:#DC7A23;
}

.list-group-item:hover .popular-views{
    color:#DC7A23!important;
}
.popular-header-group{
    display: table;
    width: 100%;
    font-size: 14px;
    line-height: 21px;
    padding-bottom: 10px;
}
.list-group-item a{
    text-decoration: none;
}
.popular-category{
    background-color: #000;
    float: left;
    color: #fff !important;
    padding: 0 5px;
    border-radius: 5px;
    font-size: 75%;
    text-decoration: none !important;
    position: inherit;
}
.popular-views{
    float: right;
    font-size: 75%;
    color: #0f0f0f;
}
.popular-body{
    display: table;
    color: #2B2A28;
    text-align: left;
}
.popular-footer{
    padding-top: 5px;
    display: table;
    width: 100%;
    font-size: 60%;
}
.model_name{
    display: block;
    font-size: 21px;
    font-weight: 700;
    padding-bottom: 15px;
    line-height: 20px;
}
.model_info{
    display: block;
    font-size: 14px;
    text-decoration: none !important;
}
.popular_title{
    font-size: 1.3em;
    display: block;
    padding: 0 5px;
}
.author{
    font-size: 10px;
    float: right;
    padding: 3px;
    border-radius: 3px;
    display: inline-block;
    color: #3498db;
    transition: .3s;
}
.grid-item:hover .author{
    color: #9b59b6;
}
.list-inline > li {
    vertical-align: middle;
}

.filter {
    display: none;
    width: 100%;
    margin: 0 auto;
}

.filter input, .filter select {
    border: solid 2px #DC7A23;
    background-color: #2B2A28;
    color: #DC7A23;
    font-size: 1.2em;
    vertical-align: middle;
    transition: .5s;
    padding: 0 10px;
    border-radius: 5px;
    height: 35px;
}

.filter select {
    height: 35px;
}

.filters {
    height: 45px;
    vertical-align: middle;
    position: relative;
}

#filter {
    transition: 1s;
}